<div class="row cd"  >
    <div class="card  col-sm-6 col-md-4" >
     <img src="https://i.ytimg.com/vi/yzR-faBQT2g/maxresdefault.jpg" class="img-responsive" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, doloremque perspiciatis. Velit ipsum reprehenderit omnis quis ad dignissimos, mollitia necessitatibus nisi magnam facere cum doloribus vel quod quam tempora! Dolorem?</p>
            <div class="clearfix">
                <div class="price float-start">$12</div>
                <a href="#" class="btn btn-success float-end " role="button">Button</a>
            </div>
        </div>
    </div>
     <div class="card  col-sm-6 col-md-4" >
     <img src="https://i.ytimg.com/vi/yzR-faBQT2g/maxresdefault.jpg" class="img-responsive" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="cart-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, doloremque perspiciatis. Velit ipsum reprehenderit omnis quis ad dignissimos, mollitia necessitatibus nisi magnam facere cum doloribus vel quod quam tempora! Dolorem?</p>
            <div class="clearfix">
                <div class="price float-start">$12</div>
                <a href="#" class="btn btn-success float-end " role="button">Button</a>
            </div>
        </div>
    </div>
     <div class="card  col-sm-6 col-md-4" >
     <img src="https://i.ytimg.com/vi/yzR-faBQT2g/maxresdefault.jpg" class="img-responsive" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, doloremque perspiciatis. Velit ipsum reprehenderit omnis quis ad dignissimos, mollitia necessitatibus nisi magnam facere cum doloribus vel quod quam tempora! Dolorem?</p>
            <div class="clearfix">
                <div class="price float-start">$12</div>
                <a href="#" class="btn btn-success float-end " role="button">Button</a>
            </div>
        </div>
    </div>
</div>